{% extends 'base.html' %}

{% block content %}
<div class="container">
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner rounded shadow-sm">
                    <div class="carousel-item active">
                        <img src="../static/image/main_image.png" height="400" class="d-block w-100" alt="...">
                    </div>
                </div>
            <div>
                <form method="POST" action="/camera">
                    <button type="submit">start</button>
                </form>
            </div>
            <section class="team1 cid-qZjDO468lv" id="team1-1s">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-12">
                            <h2 class="mbr-section-title pb-4 mbr-bold mbr-fonts-style align-left display-2">새싹지키조</h2>

                        </div>
                    </div>
                    <div class="row row-content justify-content-center">



                        <div class="card p-3 col-12 col-md-5 col-lg-3">
                            <div class="card-wrapper">
                                <div class="card-img">
                                    <img src="../static/image/YS.jpg" title="">
                                    <div class="ico-wrap">
                                        <div class="mbr-iconfont ico socicon-vkontakte socicon" style="color: rgb(255, 255, 255);" media-simple="true"></div>
                                        <div class="mbr-iconfont ico socicon-twitter socicon" style="color: rgb(255, 255, 255);" media-simple="true"></div>
                                        <div class="mbr-iconfont ico socicon-facebook socicon" style="color: rgb(255, 255, 255);" media-simple="true"></div>
                                        <div class="mbr-iconfont ico socicon-skype socicon" style="color: rgb(255, 255, 255);" media-simple="true"></div>
                                    </div>
                                </div>
                                <div class="card-box">
                                    <h4 class="card-title pb-1 mbr-fonts-style mbr-bold display-5">YeSung Song</h4>
                                    <p class="mbr-text mbr-fonts-style mbr-bold display-4">
                                        Web Design <br> Team Leader</p>

                                </div>
                            </div>

                        </div>




                        <div class="card p-3 col-12 col-md-5 col-lg-3">
                            <div class="card-wrapper">
                                <div class="card-img">
                                    <img src="../static/image/jw.png" title="">
                                    <div class="ico-wrap">
                                        <div class="mbr-iconfont ico socicon-vkontakte socicon" style="color: rgb(255, 255, 255);" media-simple="true"></div>
                                        <div class="mbr-iconfont ico socicon-twitter socicon" style="color: rgb(255, 255, 255);" media-simple="true"></div>
                                        <div class="mbr-iconfont ico socicon-facebook socicon" style="color: rgb(255, 255, 255);" media-simple="true"></div>
                                        <div class="mbr-iconfont ico socicon-skype socicon" style="color: rgb(255, 255, 255);" media-simple="true"></div>
                                    </div>
                                </div>
                                <div class="card-box">
                                    <h4 class="card-title pb-1 mbr-fonts-style mbr-bold display-5">JW Park</h4>
                                    <p class="mbr-text mbr-fonts-style mbr-bold display-4">
                                        firebase,backend <br> Developer </p>

                                </div>
                            </div>

                        </div>


                        <div class="card p-3 col-12 col-md-5 col-lg-3">
                            <div class="card-wrapper">
                                <div class="card-img">
                                    <img src="../static/image/converea2.jpg" title="">
                                    <div class="ico-wrap">
                                        <div class="mbr-iconfont ico socicon-vkontakte socicon" style="color: rgb(255, 255, 255);" media-simple="true"></div>
                                        <div class="mbr-iconfont ico socicon-twitter socicon" style="color: rgb(255, 255, 255);" media-simple="true"></div>
                                        <div class="mbr-iconfont ico socicon-facebook socicon" style="color: rgb(255, 255, 255);" media-simple="true"></div>
                                        <div class="mbr-iconfont ico socicon-skype socicon" style="color: rgb(255, 255, 255);" media-simple="true"></div>
                                    </div>
                                </div>
                                <div class="card-box">
                                    <h4 class="card-title pb-1 mbr-fonts-style mbr-bold display-5">YJ Park</h4>
                                    <p class="mbr-text mbr-fonts-style mbr-bold display-4">
                                        Team Manager <br> </p>

                                </div>
                            </div>

                        </div>







                    </div>
                </div>
                <div class="container">
                    <div class="row row-content justify-content-center">

                        <div class="card p-3 col-12 col-md-5 col-lg-3">
                            <div class="card-wrapper">
                                <div class="card-img">
                                    <img src="../static/image/converea2.jpg" title="">
                                    <div class="ico-wrap">
                                        <div class="mbr-iconfont ico socicon-vkontakte socicon" style="color: rgb(255, 255, 255);" media-simple="true"></div>
                                        <div class="mbr-iconfont ico socicon-twitter socicon" style="color: rgb(255, 255, 255);" media-simple="true"></div>
                                        <div class="mbr-iconfont ico socicon-facebook socicon" style="color: rgb(255, 255, 255);" media-simple="true"></div>
                                        <div class="mbr-iconfont ico socicon-skype socicon" style="color: rgb(255, 255, 255);" media-simple="true"></div>
                                    </div>
                                </div>
                                <div class="card-box">
                                    <h4 class="card-title pb-1 mbr-fonts-style mbr-bold display-5">Steve Seo</h4>
                                    <p class="mbr-text mbr-fonts-style mbr-bold display-4">
                                        Database</p>

                                </div>
                            </div>

                        </div>
                        <div class="card p-3 col-12 col-md-5 col-lg-3">
                            <div class="card-wrapper">
                                <div class="card-img">
                                    <img src="../static/image/jh.png" title="">
                                    <div class="ico-wrap">
                                        <div class="mbr-iconfont ico socicon-vkontakte socicon" style="color: rgb(255, 255, 255);" media-simple="true"></div>
                                        <div class="mbr-iconfont ico socicon-twitter socicon" style="color: rgb(255, 255, 255);" media-simple="true"></div>
                                        <div class="mbr-iconfont ico socicon-facebook socicon" style="color: rgb(255, 255, 255);" media-simple="true"></div>
                                        <div class="mbr-iconfont ico socicon-skype socicon" style="color: rgb(255, 255, 255);" media-simple="true"></div>
                                    </div>
                                </div>
                                <div class="card-box">
                                    <h4 class="card-title pb-1 mbr-fonts-style mbr-bold display-5">JH Song</h4>
                                    <p class="mbr-text mbr-fonts-style mbr-bold display-4">
                                        Hardware <br> </p>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>



{% endblock %}
