{% extends 'base.html' %}

{% block content %}
<div class="container">
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner rounded shadow-sm">
                    <div class="carousel-item active">
                        <img src="../static/image/main.jpg" height="400" class="d-block w-100" alt="...">
                    </div>
                </div>
            <section class="Content2 cid-rDgJWgXkJp" id="content2-2m">


                <div class="container">
                    <div class="mbr-row">
                        <div class="mbr-col-sm-12 mbr-col-md-12 mbr-m-auto mbr-col-lg-12">
                            <div class="content">
                                <h1 class="mbr-section-title align-left mbr-fonts-style mbr-pb-1 mbr-semibold display-2">척추지키미 서비스</h1>

                                <p class="mbr-text2 align-left mbr-regular mbr-pt-5 mbr-fonts-style display-5">새싹 교육생들은 주로 컴퓨터 앞에 앉아있는 시간이 많고,미래에도 IT직군으로 취업을 할 경우
                                    컴퓨터 앞에 오래 앉아있을 것입니다. 이러한 교육생들의 평소 자세 습관을 개선시키기 위한 서비스입니다.
                                    <br><br><br>카메라가 여러분들의 상반신을 찍도록 작동시키세요.
                                    <br>저희의 AI모델이 여러분들의 자세를 판단하고 결과를 알려 줄 것입니다. <br></p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="Content3 cid-rDgIcyPxhQ" id="content3-2e">


                <div class="container">
                    <div class="mbr-row">
                        <div class="mbr-col-sm-12 mbr-col-md-12 mbr-col-lg-6 md-pb">
                            <div class="image-block">
                                <amp-img src="../static/image/true.png" layout="responsive" width="642.5" height="514" alt="image" class="placeholder-loader i-amphtml-element i-amphtml-layout-responsive i-amphtml-layout-size-defined i-amphtml-built i-amphtml-layout" i-amphtml-layout="responsive"><i-amphtml-sizer slot="i-amphtml-svc" style="padding-top: 80%;"></i-amphtml-sizer>
                                    <div placeholder="" class="placeholder amp-hidden">
                                            <div class="mobirise-spinner">
                                                <em></em>
                                                <em></em>
                                                <em></em>
                                            </div></div>
                                <img decoding="async" alt="image" src="../static/image/true.png" class="i-amphtml-fill-content i-amphtml-replaced-content"></amp-img>
                            </div>
                        </div>
                        <div class="mbr-col-sm-12 mbr-col-md-12 mbr-m-auto mbr-col-lg-6">
                            <div class="content">
                                <h1 class="mbr-section-title align-left mbr-fonts-style mbr-bold display-2">올바른 앉은 자세란?
                                </h1>
                                <h2 class="mbr-section-subtitle align-left mbr-fonts-style mbr-pb-4 display-5"></h2>
                                <p class="mbr-text2 align-left mbr-regular mbr-pb-4 mbr-fonts-style display-5">올바른 앉은 자세란 <br>사용자의 머리와 목은 <br>옆에서 볼 때 일직선을 이루어야 하고, 
                                    <br>어깨는 힘을 뺀 상태이며,<br> 허리는 허벅지와 수직이여야 합니다.<br>또한 허벅지는 바닥과 평행하게 위치하여야 하며, 
                                    무릎은 엉덩이와 같은 높이에 있으며 발바닥은 <br>전체가 바닥에 닿아있어야 합니다.<br></p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="Content4 cid-rDgIda7tDo" id="content4-2f">
                <div class="container">
                    <div class="mbr-row">

                        <div class="mbr-col-sm-12 mbr-col-md-12 mbr-m-auto mbr-col-lg-6 md-pb">
                            <div class="content">
                                <h1 class="mbr-section-title align-left mbr-fonts-style mbr-bold display-2">바르지 않은 자세를<br>오래했을 때 문제점</h1>
                                <h2 class="mbr-section-subtitle align-left mbr-fonts-style mbr-pb-4 display-5"></h2>
                                <p class="mbr-text2 align-left mbr-regular mbr-pb-4 mbr-fonts-style display-5">바르지 않은 자세를 오래했을 경우
                                    자세에 따라 경추, 요추, 골반의 형태가 망가지게 됩니다.
                                    <br><br><br>골반 : 골반이 비틀어져 있으며, 지속될 시 골반변위성 요통으로 발전, 뼈를 둘러싸고 있는 혈관이나 인대, 근육, 신경이 부어 혈액 순환이 활발히 안되며, 디스크가 발생되고 추간판 탈출증이나 척추 질환을 유발합니다.<br></p>
                            </div>
                        </div>

                        <div class="mbr-col-sm-12 mbr-col-md-12 mbr-col-lg-6">
                            <div class="image-block">
                                <amp-img src="../static/image/break.jpg" layout="responsive" width="642.6666666666666" height="500" alt="image" class="placeholder-loader i-amphtml-element i-amphtml-layout-responsive i-amphtml-layout-size-defined i-amphtml-built i-amphtml-layout" i-amphtml-layout="responsive"><i-amphtml-sizer slot="i-amphtml-svc" style="padding-top: 75%;"></i-amphtml-sizer>
                                    <div placeholder="" class="placeholder amp-hidden">
                                            <div class="mobirise-spinner">
                                                <em></em>
                                                <em></em>
                                                <em></em>
                                            </div></div>
                                <img decoding="async" alt="image" src="../static/image/break.jpg" class="i-amphtml-fill-content i-amphtml-replaced-content"></amp-img>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="Content3 cid-rDgIcyPxhQ" id="content3-2e">


                <div class="container">
                    <div class="mbr-row">
                        <div class="mbr-col-sm-12 mbr-col-md-12 mbr-col-lg-6 md-pb">
                            <div class="image-block">
                                <amp-img src="../static/image/neck.jpg" layout="responsive" width="642.5" height="514" alt="image" class="placeholder-loader i-amphtml-element i-amphtml-layout-responsive i-amphtml-layout-size-defined i-amphtml-built i-amphtml-layout" i-amphtml-layout="responsive"><i-amphtml-sizer slot="i-amphtml-svc" style="padding-top: 80%;"></i-amphtml-sizer>
                                    <div placeholder="" class="placeholder amp-hidden">
                                            <div class="mobirise-spinner">
                                                <em></em>
                                                <em></em>
                                                <em></em>
                                            </div></div>
                                <img decoding="async" alt="image" src="../static/image/neck.jpg" class="i-amphtml-fill-content i-amphtml-replaced-content"></amp-img>
                            </div>
                        </div>
                        <div class="mbr-col-sm-12 mbr-col-md-12 mbr-m-auto mbr-col-lg-6">
                            <div class="content">
                                <h3 class="mbr-section-title align-left mbr-fonts-style mbr-bold display-2">경추
                                </h3>
                                <h2 class="mbr-section-subtitle align-left mbr-fonts-style mbr-pb-4 display-5"></h2>
                                <p class="mbr-text2 align-left mbr-regular mbr-pb-4 mbr-fonts-style display-5">경추 :  1자목 증후군을 유발, 지속될 시 흉추나 요추도 영향을 받아 척추가 망가져 체중의지지와 외부의 충격에 취약해질 뿐 아니라 신경이 눌려 디스크가 유발될 확률이 증가합니다.<br></p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="Content4 cid-rDgIda7tDo" id="content4-2f">
                <div class="container">
                    <div class="mbr-row">

                        <div class="mbr-col-sm-12 mbr-col-md-12 mbr-m-auto mbr-col-lg-6 md-pb">
                            <div class="content">
                                <h3 class="mbr-section-title align-left mbr-fonts-style mbr-bold display-2">요추</h3>
                                <h2 class="mbr-section-subtitle align-left mbr-fonts-style mbr-pb-4 display-5"></h2>
                                <p class="mbr-text2 align-left mbr-regular mbr-pb-4 mbr-fonts-style display-5">요추 : 척추후만증 유발,  지속될 시 척추가 변형되어 전체적으로 굽어있는 모양을 나타내는 증상이 생기고 심한 요통과 하지 방사통, 간헐적 파행, 보행 장애를 이르킵니다.<br></p>
                            </div>
                        </div>

                        <div class="mbr-col-sm-12 mbr-col-md-12 mbr-col-lg-6">
                            <div class="image-block">
                                <amp-img src="../static/image/waist.png" layout="responsive" width="642.6666666666666" height="500" alt="image" class="placeholder-loader i-amphtml-element i-amphtml-layout-responsive i-amphtml-layout-size-defined i-amphtml-built i-amphtml-layout" i-amphtml-layout="responsive"><i-amphtml-sizer slot="i-amphtml-svc" style="padding-top: 75%;"></i-amphtml-sizer>
                                    <div placeholder="" class="placeholder amp-hidden">
                                            <div class="mobirise-spinner">
                                                <em></em>
                                                <em></em>
                                                <em></em>
                                            </div></div>
                                <img decoding="async" alt="image" src="../static/image/waist.png" class="i-amphtml-fill-content i-amphtml-replaced-content"></amp-img>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="team1 cid-qZjDO468lv" id="team1-1s">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-12">
                            <h2 class="mbr-section-title pb-4 mbr-bold mbr-fonts-style align-left display-2">Team Member</h2>

                        </div>
                    </div>
                    <div class="row row-content justify-content-center">



                        <div class="card p-3 col-12 col-md-5 col-lg-3">
                            <div class="card-wrapper">
                                <div class="card-img">
                                    <img src="../static/image/YS.jpg" title="">
                                    <div class="ico-wrap">
                                        <div class="mbr-iconfont ico socicon-vkontakte socicon" style="color: rgb(255, 255, 255);" media-simple="true"></div>
                                        <div class="mbr-iconfont ico socicon-twitter socicon" style="color: rgb(255, 255, 255);" media-simple="true"></div>
                                        <div class="mbr-iconfont ico socicon-facebook socicon" style="color: rgb(255, 255, 255);" media-simple="true"></div>
                                        <div class="mbr-iconfont ico socicon-skype socicon" style="color: rgb(255, 255, 255);" media-simple="true"></div>
                                    </div>
                                </div>
                                <div class="card-box">
                                    <h4 class="card-title pb-1 mbr-fonts-style mbr-bold display-5">YeSung Song</h4>
                                    <p class="mbr-text mbr-fonts-style mbr-bold display-4">
                                        Web Design <br> Team Leader</p>

                                </div>
                            </div>

                        </div>




                        <div class="card p-3 col-12 col-md-5 col-lg-3">
                            <div class="card-wrapper">
                                <div class="card-img">
                                    <img src="../static/image/jw.png" title="">
                                    <div class="ico-wrap">
                                        <div class="mbr-iconfont ico socicon-vkontakte socicon" style="color: rgb(255, 255, 255);" media-simple="true"></div>
                                        <div class="mbr-iconfont ico socicon-twitter socicon" style="color: rgb(255, 255, 255);" media-simple="true"></div>
                                        <div class="mbr-iconfont ico socicon-facebook socicon" style="color: rgb(255, 255, 255);" media-simple="true"></div>
                                        <div class="mbr-iconfont ico socicon-skype socicon" style="color: rgb(255, 255, 255);" media-simple="true"></div>
                                    </div>
                                </div>
                                <div class="card-box">
                                    <h4 class="card-title pb-1 mbr-fonts-style mbr-bold display-5">JW Park</h4>
                                    <p class="mbr-text mbr-fonts-style mbr-bold display-4">
                                        firebase,backend <br> Developer </p>

                                </div>
                            </div>

                        </div>


                        <div class="card p-3 col-12 col-md-5 col-lg-3">
                            <div class="card-wrapper">
                                <div class="card-img">
                                    <img src="../static/image/pyj.png" title="">
                                    <div class="ico-wrap">
                                        <div class="mbr-iconfont ico socicon-vkontakte socicon" style="color: rgb(255, 255, 255);" media-simple="true"></div>
                                        <div class="mbr-iconfont ico socicon-twitter socicon" style="color: rgb(255, 255, 255);" media-simple="true"></div>
                                        <div class="mbr-iconfont ico socicon-facebook socicon" style="color: rgb(255, 255, 255);" media-simple="true"></div>
                                        <div class="mbr-iconfont ico socicon-skype socicon" style="color: rgb(255, 255, 255);" media-simple="true"></div>
                                    </div>
                                </div>
                                <div class="card-box">
                                    <h4 class="card-title pb-1 mbr-fonts-style mbr-bold display-5">YJ Park</h4>
                                    <p class="mbr-text mbr-fonts-style mbr-bold display-4">
                                        Team Manager <br> </p>

                                </div>
                            </div>

                        </div>







                    </div>
                </div>
                <div class="container">
                    <div class="row row-content justify-content-center">

                        <div class="card p-3 col-12 col-md-5 col-lg-3">
                            <div class="card-wrapper">
                                <div class="card-img">
                                    <img src="../static/image/st.jpg" title="">
                                    <div class="ico-wrap">
                                        <div class="mbr-iconfont ico socicon-vkontakte socicon" style="color: rgb(255, 255, 255);" media-simple="true"></div>
                                        <div class="mbr-iconfont ico socicon-twitter socicon" style="color: rgb(255, 255, 255);" media-simple="true"></div>
                                        <div class="mbr-iconfont ico socicon-facebook socicon" style="color: rgb(255, 255, 255);" media-simple="true"></div>
                                        <div class="mbr-iconfont ico socicon-skype socicon" style="color: rgb(255, 255, 255);" media-simple="true"></div>
                                    </div>
                                </div>
                                <div class="card-box">
                                    <h4 class="card-title pb-1 mbr-fonts-style mbr-bold display-5">Steve Seo</h4>
                                    <p class="mbr-text mbr-fonts-style mbr-bold display-4">
                                        Database</p>

                                </div>
                            </div>

                        </div>
                        <div class="card p-3 col-12 col-md-5 col-lg-3">
                            <div class="card-wrapper">
                                <div class="card-img">
                                    <img src="../static/image/jh.png" title="">
                                    <div class="ico-wrap">
                                        <div class="mbr-iconfont ico socicon-vkontakte socicon" style="color: rgb(255, 255, 255);" media-simple="true"></div>
                                        <div class="mbr-iconfont ico socicon-twitter socicon" style="color: rgb(255, 255, 255);" media-simple="true"></div>
                                        <div class="mbr-iconfont ico socicon-facebook socicon" style="color: rgb(255, 255, 255);" media-simple="true"></div>
                                        <div class="mbr-iconfont ico socicon-skype socicon" style="color: rgb(255, 255, 255);" media-simple="true"></div>
                                    </div>
                                </div>
                                <div class="card-box">
                                    <h4 class="card-title pb-1 mbr-fonts-style mbr-bold display-5">JH Song</h4>
                                    <p class="mbr-text mbr-fonts-style mbr-bold display-4">
                                        Database, Modeling <br>Hardware </p>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>



{% endblock %}
